# ignore all root items
/*
__pycache__/

# unignore folders
!cogniplay/
!docs/
!scripts/
!.trae/

# unignore files
!.gitignore
!Makefile
!LICENSE
!README.md
!manage.py
!requirements.txt
!.env.example
!main.py
